* {
  box-sizing: border-box;
}

.flex-container {
  padding: 25px;
  display: flex;
  background-color: #F67280;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cube {
  display: flex;
  margin: 5px;
  height: 104px;
  flex-basis: 104px;
  background-color: #F8B195;
  align-items: center;
  justify-content: center;
}

.cube p {
  font-size: 4rem;
  color: white;
}

.nav {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: blue;
}

.nav a {
  padding: 20px;
  background-color: royalblue;
  margin: 15px;
}

@media (min-width: 500px) {
  .nav a {
    color: gold;
  }
  .nav {
    justify-content: flex-end;
  }
}

@media (max-width: 539px) {
  .nav {
    flex-direction: column;
  }
}